<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
       <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      
        <div class="header-details flexrow">
          <h1 class="charname">
            <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
          </h1>
          <div class="item-subtitle">
            <h4 class="item-type">{{localize "MTA.Yantra"}}</h4>
            <span class="item-status"></span>
          </div>
          <ul class="summary">
            <li> 
              <label> Subtype </label> <input name="data.subtype" type="text" value="{{data.subtype}}"/>
            </li>
            <li> 
              <label> Dedicated </label> 
              <label class="checkBox">
                <input data-dtype="Boolean" name="data.isDedicated" type="checkbox" {{checked data.isDedicated}}>
                <span></span>
              </label>
            </li>
          </ul>
        </div>
    </header>
  <div class="gold-border"> </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs">    
      <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      
        {{!-- Description Tab --}}
        <div class="tab" data-tab="description">
          <div class="item-stat-block padded">
            <div class="form-line">
              <label> Dice bonus </label> <input name="data.diceBonus" type="number" data-dtype="Number" value="{{data.diceBonus}}" />
            </div> 
          </div>
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
